---
layout: base
---

<div class="intro-header"></div>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  {{ content }}

  {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  <!-- Disqus Comments Section -->
  {% if page.layout == "post" %}
    <div id="disqus_thread"></div>
    <script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://https-harishsarma-v.disqus.com//embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>
      Please enable JavaScript to view the comments powered by Disqus.
    </noscript>
  {% endif %}
</main>
